<footer>
    <ul>
    <li>
      <a href="https://github.com/IGrewal08" id="footer_link" rel="noopener noreferrer" target="_blank"
        >&copy2025 github.com/IGrewal08</a
      >
    </li>
  </ul>
</footer>