<header>
    <a href="/" id="logo">
        Title
    </a>
    <form action="" method="POST">
        <label for="search">
            Search:
            <input
            type="text"
            id="search"
            name="search"
            placeholder="search query..."
            />
        </label>
        <button type="submit">Search</button>
    </form>
    <%# When userId, (signed in) show account name and a logout button %>
    <div>
        <a href="/login">Login</a>
        <a href="/signup">Create a Account</a>  
    </div>
</header>