<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" href="/favicon.ico" sizes="any" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
  </head>
  <body>
    <%- include("partials/header") %>
    <div id="sidebar">
      <div>
        <a>Today</a>
        <a>New</a>
        <a>Trending</a>
        <a>Most-Liked</a>
      </div>
      <div>Liked Posts here</div>
      <div>My Posts here</div>
      <div>Upgrade Membership</div>
    </div>
    <main>All posts here</main>
    <%- include("partials/footer") %>
  </body>
</html>
